# https://github.com/cheretbe/mikrotik-scripts/blob/master/cloudflare-dns/README.md

:put "WARNING: Using default template for 'cloudflare_dns_settins' script. Change parameters here"
:log warning ("Using default template for 'cloudflare_dns_settins' script. Change parameters here")

# Mandatory parameters
# :global cfdnsAPIAuthEmail "user@domain.tld"
# :global cfdnsAPIAuthKey   "000000000000000"
# :global cfdnsMappings {
#   {
#     interface="host_nat";
#     records={
#       {name="host1.domain.tld"; zoneid="000000"; recordid="111"; ttl=60};
#       {name="host2.domain.tld"; zoneid="000000"; recordid="222"; ttl=60}
#     }
#   };
#   {
#     interface="host_only";
#     records={
#       {name="host3.domain.tld"; zoneid="000000"; recordid="333"; ttl=60};
#       {name="host4.domain.tld"; zoneid="000000"; recordid="444"; ttl=60}
#     }
#   }
# }

# Optional parameters
# :global cfdnsForcedCheckInterval [:totime "15m"]
